html {
    font-size: 87.5%; /* font-size 1em = 14px on default browser settings */
    /* font-size: 75%; /* font-size 1em = 12px on default browser settings */
    /* font-size: 62.5%; /* font-size 1em = 10px on default browser settings */
}
